<arl-header></arl-header>

<section class="content-header">
    <h1>
        ARLearn
        <small> {{'arl.games.gamelibrary' | translate}} </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Widgets</li>
    </ol>
</section>

<!--<section class="content">-->

    <!--<div class="row" >-->

        <!--<div class="col-lg-3 col-xs-6" ng-repeat="game in games | orderBy: 'rank'">-->
            <!--&lt;!&ndash; small box &ndash;&gt;-->
            <!--<div class="small-box bg-aqua">-->
                <!--<div class="inner">-->
                    <!--<h3>{{game.title}}</h3>-->

                    <!--<p>{{game.rank}}</p>-->
                <!--</div>-->
                <!--<div class="icon">-->
                    <!--<i class="fa fa-shopping-cart"></i>-->
                <!--</div>-->
                <!--<a href="#/games/{{game.gameId}}" class="small-box-footer">-->
                    <!--More info <i class="fa fa-arrow-circle-right"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->


    <!--</div>-->
<!--</section>-->




<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6" ng-repeat="game in games | orderBy: '-rank'">

            <!-- Gamecard -->

            <div class="small-box bg-white gamecard">
                <div class="inner">
                    <div class="col-md-3">
                        <div class="icon">
                            <!--<img class="cover-image" src="http://streetlearn.appspot.com/game/{{game.data.gameId}}/gameThumbnail" alt="Cover art" aria-hidden="true" itemprop="image">-->
                            <img class="cover-image" ng-src="{{thumbnailUrl(game.gameId)}}" alt="Cover art" aria-hidden="true" itemprop="image">
                        </div>
                    </div>

                    <div class="col-md-9">
                        <h4>{{game.data.title}}</h4>
                        <p>{{game.data.description}}</p>
                        <a href="#/games/{{game.gameId}}"> <button class="btn btn-block btn-primary btn-sm">Game info</button></a>
                    </div>
                </div>
            </div>

        </div><!-- ./col -->