<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>ARL</b>earn</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>


            <div class="social-auth-links text-center">

                <a ng-hide="providerExists(2)" href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google"></i> {{'arl.login.signingoogle' | translate}}</a>
            </div>
            <!-- /.social-auth-links -->



        </div>
        <!-- /.login-box-body -->
    </div>
</div>