<arl-header></arl-header>
<arl-sidebar></arl-sidebar>
<div class="content-wrapper">

    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <h1>{{runTitle}} - {{runId}}</h1>
                <h2>players</h2>
                <ul ng-repeat="player in players">
                    <li>{{player.name}}</li>
                </ul>
<h2>teams</h2>
                <ul ng-repeat="team in teams">
                    <li>{{team.name}}</li>
                </ul>
            </div>
        </div>
    </section>

</div>