<header class="main-header">


    <a href="index2.html" class="logo">
        <span class="logo-mini"><b>ARL</b></span>
        <span class="logo-lg"><b>ARL</b>earn</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->


        <div class="navbar-custom-menu">

            <ul class="nav navbar-nav">

                <li class="dropdown messages-menu">
                    <a  class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag-o"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Switch language</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li><!-- start message -->


                                        <h4 ng-click="setLanguage('en')">
                                            English

                                        </h4>


                                </li>
                                <!-- end message -->
                                <li><!-- start message -->

                                        <h4 ng-click="setLanguage('nl')">
                                            Dutch

                                        </h4>

                                </li>

                            </ul>
                        </li>

                    </ul>
                </li>

                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>

    </nav>
</header>